* {
text-align: center;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(238, 231, 231);
color: rgb(16, 16, 16);
margin: 0px;
}

h2 {
    font-style: italic;
}

h4 {
    text-shadow: 1px 1px 1px rgb(162, 162, 162);
}

h4, h5 {
    font-weight: 600;
}

ul {
    list-style: disc;
}

a {
    color: rgb(71, 71, 212);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: blue;
}

li,
.skills p {
    text-align: justify;
    padding-top: 5px;
}

li span {
    font-weight: bold;
}

/*Header elements*/

.header,
.name-email,
.name-email h1,
.name-email h3,
.header-links,
.header-links h3,
.header-links a,
.header-links p {
    background-color: rgb(162, 162, 162);
}

.header,
.header-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


.name-email {
    margin-right: 350px;
}
.name-email,
.header-links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name-email h1, h3 {
    text-align: left;
}

.name-email h3 {
    font-weight: normal;
}

.experience,
.education,
.skills {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    border: 5px black;
    margin: 20px;
}

.all-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.place-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

@media only screen and (max-width: 768px) {
    .name-email {
        margin-right: 0; 
    }

    .experience,
    .education,
    .skills {
        margin: 10px; 
    }
}